<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <title>vue class</title>
</head>
<body>
  <main id="app">
    <h3>{{ welcomeMessage }}</h3>
    <ul>
      <li v-for="fruit in deliciousFruit"> <!-- select the array thingy, kinda like a "for each" loop -->
        <p v-on:click="logClicked" v-if="seen">{{ fruit.name}} is {{fruit.flavour}}</p>
      </li>
    </ul>
    <h2>{{ result }}</h2>

    <button v-on:click="reversemess">mess it up</button>

    <p v-if="hasVue">{{vuemessage}}</p>
  </main>
  <script src="js/main.js"></script>
</body>
</html>
